.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgray;
}

h2{
  color: black;
}

form{
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px;
}

.btn{
  width: 100%;
  padding:10px;
  color: white;
  margin-top: 10px;
  background-color: lightskyblue;
  border: 2px solid lightskyblue;
  border-radius: 8px;
}